In [5]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
df = pd.read_csv("possum.csv")
df.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      104 non-null    int64
 1   site      104 non-null    int64
 2   Pop       104 non-null    object
 3   sex       104 non-null    object
 4   age       102 non-null    float64
 5   hdlngth   104 non-null    float64
 6   skullw    104 non-null    float64
 7   totlngth  104 non-null    float64
 8   taill     104 non-null    float64
 9   footlgth  103 non-null    float64
 10  earconch  104 non-null    float64
 11  eye       104 non-null    float64
 12  chest     104 non-null    float64
 13  belly     104 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.5+ KB

In [12]:
import sklearn

In [20]:
X1 = df[["skullw"]]
X2 = df[["belly"]]
y = df["taill"]

In [22]:
X1_train, X1_test, X2_train, X2_test, y_train, y_test = train_test_split(X1, X2, y, test_size=0.3, random_state=42)

In [23]:
model = LinearRegression()
model.fit(X1_train, X2_train, y_train)

LinearRegression()

In [24]:
slope = model.coef_[0]
intercept = model.intercept_
print(slope, intercept)

[0.38009969] [10.91288297]

In [14]:
sklearn.model_selection.train_test_split(df, test_size= 30, train_size= 74, random_state=None, shuffle=True, stratify=None)

[     case  site    Pop sex  age  hdlngth  skullw  totlngth  taill  footlgth  \
 64     65     5  other   f  5.0     93.5    57.4      88.5   38.0      68.2
 62     63     5  other   f  6.0     92.0    56.4      88.5   38.0      64.1
 4       5     1    Vic   f  2.0     91.5    56.3      85.5   36.0      71.0
 95     96     7  other   m  4.0     94.8    55.7      83.0   38.0      66.5
 102   103     7  other   m  4.0     91.5    55.2      82.5   36.5      62.9
 ..    ...   ...    ...  ..  ...      ...     ...       ...    ...       ...
 16     17     1    Vic   f  1.0     94.7    67.7      89.5   36.5      73.2
 19     20     1    Vic   f  4.0     94.8    56.3      89.0   38.0      73.8
 54     55     4  other   m  2.0    103.1    63.2      92.5   38.0      72.5
 70     71     5  other   m  6.0     92.8    57.6      90.0   40.0      65.7
 11     12     1    Vic   f  5.0     94.9    55.6      92.0   35.5      71.7

      earconch   eye  chest  belly
 64       41.7  14.0   29.0   38.5
 62       46.3  15.2   25.5   28.5
 4        53.2  15.1   28.5   33.0
 95       47.7  14.0   25.0   33.0
 102      45.9  15.4   25.0   29.0
 ..        ...   ...    ...    ...
 16       53.2  14.7   29.0   31.0
 19       52.4  15.5   27.0   36.0
 54       44.9  16.4   30.5   36.0
 70       42.8  15.0   27.5   34.0
 11       51.0  15.3   28.0   33.0

 [74 rows x 14 columns],
     case  site    Pop sex  age  hdlngth  skullw  totlngth  taill  footlgth  \
 83    84     6  other   m  3.0     88.4    54.6      80.5   36.0      62.6
 35    36     2    Vic   m  7.0     93.3    59.3      88.0   35.0      74.3
 92    93     7  other   m  3.0     89.2    54.0      82.0   38.0      63.8
 82    83     6  other   f  3.0     90.0    53.8      81.5   36.0      62.0
 50    51     3  other   f  5.0     95.6    59.6      85.0   36.0      64.0
 80    81     6  other   m  3.0     90.6    56.0      85.5   38.0      65.6
 48    49     3  other   m  4.0     95.4    59.2      85.0   37.0      69.0
 79    80     6  other   m  1.0     86.7    52.6      84.0   38.0      62.3
 33    34     2    Vic   m  2.0     90.6    55.7      85.5   36.5      73.1
 42    43     2    Vic   f  2.0     90.0    55.5      81.0   32.0      72.0
 37    38     2    Vic   m  7.0     92.4    56.0      80.5   35.5      68.4
 24    25     1    Vic   m  3.0     95.8    58.5      91.5   35.5      72.3
 76    77     6  other   m  6.0     93.6    56.2      84.0   36.0      62.8
 99   100     7  other   m  1.0     89.5    56.0      81.5   36.5      66.0
 81    82     6  other   f  4.0     86.0    54.0      82.0   36.5      60.7
 43    44     2    Vic   m  NaN     85.1    51.5      76.0   35.5      70.3
 22    23     1    Vic   f  4.0     92.5    56.1      89.0   36.0      72.8
 85    86     6  other   f  3.0     88.2    53.2      86.5   38.5      60.3
 44    45     2    Vic   m  3.0     90.7    55.9      81.0   34.0      71.5
 97    98     7  other   m  5.0     93.2    68.6      84.0   35.0      65.6
 20    21     1    Vic   f  3.0     95.9    58.1      96.5   39.5      77.9
 26    27     1    Vic   f  2.0     90.5    54.5      85.0   35.0      70.3
 17    18     1    Vic   m  2.0     93.5    55.7      90.0   36.0      73.7
 93    94     7  other   m  7.0     91.8    57.6      84.0   35.5      64.2
 49    50     3  other   f  5.0     91.6    56.4      88.0   38.0      65.0
 89    90     7  other   m  3.0     92.6    54.6      85.0   38.5      69.8
 77    78     6  other   m  1.0     86.5    51.0      81.0   36.5      63.0
 5      6     1    Vic   f  1.0     93.1    54.8      90.5   35.5      73.2
 14    15     1    Vic   m  5.0     92.9    57.6      85.5   34.0      69.7
 10    11     1    Vic   f  9.0     93.3    57.2      89.5   39.0      77.2

     earconch   eye  chest  belly
 83      43.6  16.3   25.0   28.5
 35      52.0  14.9   25.5   36.0
 92      44.9  12.8   24.0   31.0
 82      43.3  14.0   25.0   29.0
 50      43.9  17.4   28.0   38.5
 80      41.7  17.0   27.5   35.0
 48      45.0  15.9   29.5   35.5
 79      44.8  15.0   23.5   30.5
 33      53.1  14.4   26.0   28.5
 42      49.4  13.4   29.0   31.0
 37      49.5  15.9   27.0   30.0
 24      51.6  14.9   31.0   35.0
 76      42.9  16.2   25.0   35.0
 99      46.8  14.8   23.0   27.0
 81      42.9  15.4   26.0   32.0
 43      52.6  14.4   23.0   27.0
 22      53.3  15.4   28.0   35.0
 85      43.7  13.6   26.0   31.0
 44      54.0  14.6   27.0   31.5
 97      44.3  14.5   28.5   32.0
 20      52.9  14.2   30.0   40.0
 26      50.8  14.2   23.0   28.0
 17      55.4  15.3   28.0   32.0
 93      45.1  14.4   29.0   35.0
 49      47.2  14.9   28.0   36.0
 89      44.8  14.5   25.5   32.5
 77      44.3  13.2   23.0   28.0
 5       53.6  14.2   30.0   32.0
 14      51.8  15.7   28.0   35.0
 10      51.3  14.9   31.0   34.0  ]

In [ ]:
def lsrl(data, expl, resp):
    m = data[expl].corr(data[resp]) * (data[resp].std() / data[expl].std())
    b = (data[resp].mean() - m * data[expl].mean())
    print(m , b)
    linearData = [data[expl].min(), m * data[expl].min() + b], [data[expl].max(), m * data[expl].max() + b]
    linearDf = pd.DataFrame(linearData, columns=['explanatory', 'response'])
    linearDf.head()
    sns.scatterplot(data= data, x= expl, y= resp)
    sns.lineplot(data = linearDf, x = 'explanatory', y = 'response')
    #return ("y =" + m + "x +" + b)
    return f"y = {m:f}x + {b:f}"

In [ ]:
lsrl()