# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [1]:
# Read data into a dataframe.
# Don't forget to call info()!

In [2]:
import pandas as pd
import math
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
import pandas as pd
contest = pd.read_csv('contestants.csv')
contest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        423 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  423 non-null    object
 3   Hometown    423 non-null    object
 4   Height      30 non-null     float64
 5   ElimWeek    406 non-null    float64
 6   Season      423 non-null    int64
dtypes: float64(3), int64(1), object(3)
memory usage: 23.3+ KB

In [4]:
contest.head()

,Name,Age,Occupation,Hometown,Height,ElimWeek,Season
0,Amanda Marsh,23.0,Event Planner,"Chanute, Kansas",NaN,NaN,1
1,Trista Rehn,29.0,Miami Heat Dancer,"Miami, Florida",NaN,6.0,1
2,Shannon Oliver,24.0,Financial Management Consultant,"Dallas, Texas",NaN,5.0,1
3,Kim,24.0,Nanny,"Tempe, Arizona",NaN,4.0,1
4,Cathy Grimes,22.0,Graduate Student,"Terra Haute, Indiana",NaN,3.0,1

In [5]:
contest['Occupation'].unique()

array(['Event Planner', 'Miami Heat Dancer',
       'Financial Management Consultant', 'Nanny', 'Graduate Student',
       'Attorney', 'Actress', 'Commercial Real Estate Agent',
       'Special Ed. Teacher', 'Production Coordinator',
       'Hooters Waitress', 'Power Tool Sales Rep.', 'Photographer',
       'Business Development Director', 'Neuropsychologist', 'Doctor',
       'Bar Manager', 'Retail Manager', 'Advertising Executive',
       'Insurance Representative', '6th Grade Teacher',
       'Technology Specialist', 'School Psychologist', 'College Student',
       'Executive Recruiter', 'Registered Nurse', 'Flight Attendant',
       'Assistant Financial Advisor', 'Marriage Therapy Trainee',
       'Airline Supervisor', 'Graphic Artist', 'Radio Sales',
       'Publications Quality Control', 'Strategic Planning Analyst',
       'Psychologist', '3rd Grade Teacher', 'Radiological Technologist',
       'Interior Designer', 'Paralegal', 'Former NBA Cheerleader',
       '1st Grade Teacher', 'Communications Specialist', 'Student',
       'General contractor', 'Designer for an architect firm', 'Model',
       'Prosthetic technician', 'Pharmaceutical sales',
       'Professional Cheerleader',
       'Swim instructor/nanny/personal trainer',
       'LASIK Eye and Skin Center manager', 'Hair stylist',
       'Massage therapist/bartender', 'Model/make-up artist',
       'Consultant', 'Professional soccer player',
       'Model/executive assistant', 'Retail manager', 'Account manager',
       'Account manager/sales', 'Bank representative',
       'Fashion public relations manager', 'Singer', 'Teacher',
       'Publicist', 'Marketing manager', 'Realtor', 'Event planner',
       'Ultrasound technician', 'Socialite', 'Journalist',
       'Interior designer', 'Make-up artist', 'Policy advisor',
       'Broadcast marketer', 'Dolphin trainer', 'Assistant buyer',
       'Registered nurse', 'Physician', 'Dancer', 'Restaurateur',
       'Beer chemist', 'Hotel concierge', 'Social Worker', 'Assistant',
       'Graphic Designer', 'Project Manager', 'Medical student',
       'Boutique owner', 'Sales Manager', 'Organ donor coordinator',
       'Financial analyst', 'Sorority recruiter', 'Boutique manager',
       'Medical equipment sales rep', 'Radio sales', 'Waitress',
       'Former Miss Illinois', 'Executive coordinator',
       'Health care manager', 'Hedge fund analyst',
       'Real estate sales/development', 'Phoenix Suns\xa0Cheerleader',
       'Internet marketing executive', 'Acupuncturist',
       'Executive assistant', 'Boutique sales worker', 'Bar manager',
       'Esthetician', 'Publishing sales executive', 'News anchor',
       'Law student', 'Biology teacher', 'Graduate student',
       'Account representative', 'Emergency room nurse',
       'Project analyst', 'Pharmaceutical sales rep.',
       'Account Executive', 'Fashion designer', 'Advertising coordinator',
       'Singer-songwriter', 'Medical sales rep.',
       "Children's book author", 'Hot-dog vendor', 'Personal trainer',
       'Church marketing rep.', 'Administrative assistant',
       'Biology student', 'Attorney and former\xa0White House\xa0aide',
       'Makeup artist', 'Youth minister', 'Cocktail waitress',
       'Real estate marketing rep.', 'Sales Representative',
       'Department Store Buyer', 'Single Mother & Medical Marketing Rep.',
       'Single Mother and Lacrosse Coach', 'Dental Hygienist',
       'Administrative Assistant', 'Human Resources Recruiter',
       'Medical Student', 'Public Relations Associate',
       'Medical Sales Rep.', 'Casino Marketing Rep.',
       'Wedding Coordinator', 'Menswear Buyer', 'Jewelry Designer',
       'Single Mother & Charity Accountant',
       'Single Mother and Nurse Practitioner', 'Marketing Representative',
       'College Admissions', 'Swimsuit Model',
       'Advertising Account Manager', 'Wardrobe Consultant',
       'Account Manager', 'Cosmetic Sales Manager',
       'Corporate Flight Attendant', 'Hair Stylist', 'Homemaker',
       'Office Manager', 'Restaurant Manager', 'Model/Make-Up Artist',
       'Entrepreneur', 'Spokesmodel', 'Mortgage Loan Officer',
       'Captain, Air National Guard', 'Fitness Model', 'NBA Dancer',
       'Commercial Pilot', 'Dance Teacher', 'Medical Technician',
       "Children's Hospital Event Planner", 'Executive Assistant',
       'Dental Student', 'Funeral Director', 'Food writer', 'Artist',
       'Apparel merchant', 'Marketing Coordinator', 'Sports Publicist',
       'First grade teacher', 'Fashion Marketer', 'Bartender',
       'Real Estate Broker', 'Radio City Rockette', 'Manscaper',
       'Operations Manager', 'Sales director', 'Insurance agent',
       'High School Teacher', 'Sales Consultant',
       'Musical Theatre Performer', 'Business development manager',
       'Dental hygienist', 'PhD Student', 'Fashion sales representative',
       'Trading clerk', 'VIP cocktail waitress', 'Accountant',
       'Dental consultant', 'Advertising account manager',
       'Medical sales representative', 'Blogger', 'Financial advisor',
       'Labor and delivery nurse', 'Critical care nurse',
       'Nonprofit director', 'Pharmaceutical sales representative',
       'Internet entrepreneur', 'Substitute Teacher',
       'Personal Organizer', 'Bridal Stylist', 'Political Consultant',
       'Leasing Consultant', 'Commercial Casting Associate',
       'Real Estate Dealer', 'Oil Field Account Manager',
       'Cosmetics Consultant', 'Fit Model', 'Poker Dealer',
       'Health Club Manager', 'Community Organizer', 'Salon Owner',
       'Yoga Instructor', 'Fashion Model', 'Cruise Ship Entertainer',
       'Jumbotron Operator', 'Pediatric Nurse', 'Hairstylist',
       'Assistant District Attorney', 'Real Estate Agent',
       'Science Educator', 'Opera Singer',
       'Medical Sales Representative/NBA Dancer', 'Former NBA Dancer',
       'Psychiatric Nurse', 'Dog Lover', 'First Grade Teacher',
       'Music Composer', 'Marketing Manager', 'Free Spirit',
       'Local News Reporter', 'Legal Assistant',
       'Communications Director/NHL\xa0Ice Girl', 'Massage Therapist',
       'Grade School Teacher', 'Police Support Specialist',
       'Nursing Home Owner', 'Mineral Coordinator', 'Personal Banker',
       'Personal Trainer', 'Fertility Nurse', 'Chiropractic Assistant',
       'Dance Instructor', 'Cosmetics Developer', 'Cruise Ship Singer',
       'Make-Up Artist', 'Guidance Counselor',
       'Nanny/Freelance Journalist', 'Dental Assistant',
       'Fashion Designer', 'Former NFL Cheerleader', 'News Producer',
       'Fourth Grade Teacher', 'Special Education Teacher',
       'Sport Fishing Enthusiast', 'Ballet Teacher', 'Plus-Size Model',
       'WWE Diva-in-Training', 'High School Soccer Coach',
       'Wedding Cake Baker', 'Cadaver Tissue Saleswoman',
       'Real Estate Developer', 'Software Sales Representative',
       'Kindergarten Teacher', 'Former News Anchor',
       'Small Business Owner', 'War Veteran', 'Unemployed',
       'Mathematician', 'Dentist', 'Gerontologist', 'Fashion Buyer',
       'Nutritional Therapist', 'Math Teacher', 'Cowgirl',
       'Chicken Enthusiast', 'Aspiring Dolphin Trainer',
       'Plastic Surgery Office Manager', 'Surgical Unit Nurse',
       'Travel Nurse', 'Wedding Videographer', 'Business Owner',
       'Neonatal Nurse', 'Restaurant Server', 'Doula', 'Chef',
       'Pro Basketball Dancer', 'Digital Marketing Manager',
       'Law School Graduate', 'Food Truck Owner',
       'Apparel Sales Representative', 'Fashion Boutique Owner',
       'Mental Health Counselor', 'Pilates Instructor'], dtype=object)

In [6]:
contest['ElimWeek'].unique()

array([nan,  6.,  5.,  4.,  3.,  2.,  1.,  7.,  8., 10.,  9.])

In [7]:
contest['ElimWeek'].fillna(11, inplace=True)

In [8]:
'''
Possible occupational categories: 
- Student/Graduate
- Teacher/Nanny/Instructor/Counselor
- Manager/Consultant/Sales Representative
- Nurse/Doctor/Physician/Psychologist
- Dancer/Model/Singer/Stylist/Artist/Designer
- Other
'''

'\nPossible occupational categories: \n- Student/Graduate\n- Teacher/Nanny/Instructor/Counselor\n- Manager/Consultant/Sales Representative\n- Nurse/Doctor/Physician/Psychologist\n- Dancer/Model/Singer/Stylist/Artist/Designer\n- Other\n'

In [9]:
occNum = []
contest['occNum'] = occNum

for i in range(len(contest)):
    if (contest['Occupation'][i].index('student') >= 0 or contest['Occupation'][i].index('graduate') >= 0 )
    {
        contest['occNum'] = 4
    }

SyntaxError: invalid syntax (2659828907.py, line 5)

In [ ]:
# Initialize an empty list to store occupation numbers
occNum = []

# Loop through each row in the DataFrame
for i in range(len(contest)):
    # Check if the occupation contains 'student' or 'graduate'
    if 'student' in contest['Occupation'][i] or 'graduate' in contest['Occupation'][i]:
        occNum.append(2)  # Append 2 if the occupation is student or graduate
    elif 'teacher'in contest['Occupation'][i] or 'nanny' in contest['Occupation'][i] in contest['Occupation'][i] 
    or 'intructor' in contest['Occupation'][i] or 'conselor' in contest['Occupation'][i]:
        occNum.append(3)
    elif 'manage'in contest['Occupation'][i] or 'consultant' in contest['Occupation'][i] 
    or 'sale' in contest['Occupation'][i] or 'representative' in contest['Occupation'][i]:
        occNum.append(1)
    elif 'nurse'in contest['Occupation'][i] or 'doctor' in contest['Occupation'][i] 
    or 'physician' in contest['Occupation'][i] or 'psychologist' in contest['Occupation'][i]:
        occNum.append(5)
    elif 'dancer'in contest['Occupation'][i] or 'model' in contest['Occupation'][i] 
    or 'singer' in contest['Occupation'][i] or 'stylist' in contest['Occupation'][i]
    or 'artist' in contest['Occupation'][i] or 'designer' in contest['Occupation'][i]:
        occNum.append(4)
    else:
        occNum.append(0)  # Append 0 for other occupations

# Assign the populated occNum list to the 'occNum' column in the DataFrame
contest['occNum'] = occNum

In [17]:
# Initialize an empty list to store occupation numbers
occNum = []

# Loop through each row in the DataFrame
for i in range(len(contest)):
    # Check if the occupation contains 'student' or 'graduate'
    if 'student' in contest['Occupation'][i] or 'graduate' in contest['Occupation'][i]:
        occNum.append(5)  # Append 2 if the occupation is student or graduate
    # Check if the occupation contains teacher-related roles
    elif 'teacher' in contest['Occupation'][i] or 'nanny' in contest['Occupation'][i] or 'instructor' in contest['Occupation'][i] or 'counselor' in contest['Occupation'][i]:
        occNum.append(2)
    # Check if the occupation contains management or sales-related roles
    elif 'manage' in contest['Occupation'][i] or 'consultant' in contest['Occupation'][i] or 'sales' in contest['Occupation'][i] or 'representative' in contest['Occupation'][i]:
        occNum.append(1)
    # Check if the occupation contains medical-related roles
    elif 'nurse' in contest['Occupation'][i] or 'doctor' in contest['Occupation'][i] or 'physician' in contest['Occupation'][i] or 'psychologist' in contest['Occupation'][i]:
        occNum.append(4)
    # Check if the occupation contains artistic or performance-related roles
    elif 'dancer' in contest['Occupation'][i] or 'model' in contest['Occupation'][i] or 'singer' in contest['Occupation'][i] or 'stylist' in contest['Occupation'][i] or 'artist' in contest['Occupation'][i] or 'designer' in contest['Occupation'][i]:
        occNum.append(3)
    else:
        occNum.append(0)  # Append 0 for other occupations

# Assign the populated occNum list to the 'occNum' column in the DataFrame
contest['occNum'] = occNum

In [18]:
contest.head()

,Name,Age,Occupation,Hometown,Height,ElimWeek,Season,occNum
0,Amanda Marsh,23.0,Event Planner,"Chanute, Kansas",NaN,11.0,1,0
1,Trista Rehn,29.0,Miami Heat Dancer,"Miami, Florida",NaN,6.0,1,0
2,Shannon Oliver,24.0,Financial Management Consultant,"Dallas, Texas",NaN,5.0,1,0
3,Kim,24.0,Nanny,"Tempe, Arizona",NaN,4.0,1,0
4,Cathy Grimes,22.0,Graduate Student,"Terra Haute, Indiana",NaN,3.0,1,0

In [19]:
contest['occNum'].corr(contest['ElimWeek'])

-0.11086099426033462

In [ ]:
len(contest['Occupation'].unique())

In [ ]:
contest['Hometown'].unique()

In [ ]:
len(contest['Hometown'].unique())

In [ ]:
print(contest)

In [ ]:
contest['ElimWeek'] = pd.to_numeric(contest['ElimWeek'], errors='coerce')

In [20]:
contest['Age'].corr(contest['ElimWeek'])

-0.10248121550116647

In [ ]:
import requests
from bs4 import BeautifulSoup

df = pd.DataFrame(columns=['Editions'])
season = 22
while page <= 29:
    url = 'https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_'+ str(season)
    
    # Make a request to the website and check the status code
    response = requests.get(url)
    if response.status_code == 200:
        # Step 2: Parse the HTML content with BeautifulSoup
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Find all the h2 elements with the specific class
        mydivs = soup.find_all("span", class_="resultDetails")
        
        # Loop through each element and print the text
        for blueText in mydivs:
            step1 = blueText.get_text(strip=True).replace('First published in ', '', 1)
            year = step1[0:4]
            print(year)
            editions = step1[5: 7]
            print(editions)

            print(blueText.get_text(strip=True).replace('First published in ', '', 1)) # get_text() extracts the inner text, and strip() removes any extra whitespace

            new_row = {'Editions': editions}
            '''df = df._append(new_row, ignore_index=True)'''
            df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
        else:
            print(f"Error: Unable to retrieve the page, status code {response.status_code}")
    
    season += 1

In [ ]:
import requests
from bs4 import BeautifulSoup

season = 22
while season <= 29:
    url = 'https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_'+ str(season)
    
    # Make a request to the website and check the status code
    response = requests.get(url)
    if response.status_code == 200:
        # Step 2: Parse the HTML content with BeautifulSoup
        soup = BeautifulSoup(response.text, 'html.parser')
        

        # Find the table containing the list of contestants

        table = soup.find('table', {'class': 'wikitable'})


        # Loop through each row of the table (skipping the header)

        for row in table.find_all('tr')[1:]:
            columns = row.find_all('td')
            # Assuming that the first column contains contestant names, you can extract the text
            if columns:
                contestant_name = columns[0].get_text(strip=True)
            print(contestant_name)
   
    season += 1

In [ ]:
import requests
from bs4 import BeautifulSoup

season = 22
while season <= 29:
    url = 'https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_' + str(season)
    
    # Make a request to the website and check the status code
    response = requests.get(url)
    if response.status_code == 200:
        # Step 2: Parse the HTML content with BeautifulSoup
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the table containing the list of contestants
        table = soup.find('table', {'class': 'wikitable'})

        # Loop through each row of the table (skipping the header)
        for row in table.find_all('tr')[1:]:
            columns = row.find_all('td')
            
            # Ensure the row has enough columns (at least two: name and age)
            if len(columns) >= 2:
                # Get contestant name (usually in the first column)
                contestant_name = columns[0].get_text(strip=True)

                # Try to extract age (usually in the second column)
                age = columns[1].get_text(strip=True)

                # Print contestant name and age
                print(f"Name: {contestant_name}, Age: {age}")
   
    season += 1

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [ ]:
# Train model here.
# Don't forget to display the equation of the plane that best fits your data!

In [21]:
features = contest[['Age', 'occNum']]

In [22]:
output = contest['ElimWeek']

In [26]:
nan_count = contest['Age'].isna().sum()
print(nan_count)

1

In [29]:
contest.dropna(subset=['Age'], inplace=True)

In [33]:
nan_count = contest['Age'].isna().sum()
print(nan_count)

0

In [34]:
X_train, X_test, y_train, y_test = train_test_split(
    features, output, test_size=0.30, random_state=42)

In [35]:
model = LinearRegression()

In [36]:
model.fit(X_train, y_train)
# y = m1x1 + m2x + b, where x1 is age and x2 is occupation

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [37]:
m1 = model.coef_[0]
m2 = model.coef_[1]
b = model.intercept_
print("y = ", m1, "x1 + ", m2, "x2 + ", b )

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [ ]:
y = (m1 * 58.2) + (m2 * 34) + b

In [ ]:
y

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [ ]:
# Test model here.

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.