# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [3]:
# Read data into a dataframe.
# Don't forget to call info()!

In [2]:
import pandas as pd
contest = pd.read_csv('contestants.csv')
contest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        423 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  423 non-null    object
 3   Hometown    423 non-null    object
 4   Height      30 non-null     float64
 5   ElimWeek    406 non-null    float64
 6   Season      423 non-null    int64
dtypes: float64(3), int64(1), object(3)
memory usage: 23.3+ KB

In [4]:
contest.head()

,Name,Age,Occupation,Hometown,Height,ElimWeek,Season
0,Amanda Marsh,23.0,Event Planner,"Chanute, Kansas",NaN,NaN,1
1,Trista Rehn,29.0,Miami Heat Dancer,"Miami, Florida",NaN,6.0,1
2,Shannon Oliver,24.0,Financial Management Consultant,"Dallas, Texas",NaN,5.0,1
3,Kim,24.0,Nanny,"Tempe, Arizona",NaN,4.0,1
4,Cathy Grimes,22.0,Graduate Student,"Terra Haute, Indiana",NaN,3.0,1

In [7]:
contest['Occupation'].unique()

array(['Event Planner', 'Miami Heat Dancer',
       'Financial Management Consultant', 'Nanny', 'Graduate Student',
       'Attorney', 'Actress', 'Commercial Real Estate Agent',
       'Special Ed. Teacher', 'Production Coordinator',
       'Hooters Waitress', 'Power Tool Sales Rep.', 'Photographer',
       'Business Development Director', 'Neuropsychologist', 'Doctor',
       'Bar Manager', 'Retail Manager', 'Advertising Executive',
       'Insurance Representative', '6th Grade Teacher',
       'Technology Specialist', 'School Psychologist', 'College Student',
       'Executive Recruiter', 'Registered Nurse', 'Flight Attendant',
       'Assistant Financial Advisor', 'Marriage Therapy Trainee',
       'Airline Supervisor', 'Graphic Artist', 'Radio Sales',
       'Publications Quality Control', 'Strategic Planning Analyst',
       'Psychologist', '3rd Grade Teacher', 'Radiological Technologist',
       'Interior Designer', 'Paralegal', 'Former NBA Cheerleader',
       '1st Grade Teacher', 'Communications Specialist', 'Student',
       'General contractor', 'Designer for an architect firm', 'Model',
       'Prosthetic technician', 'Pharmaceutical sales',
       'Professional Cheerleader',
       'Swim instructor/nanny/personal trainer',
       'LASIK Eye and Skin Center manager', 'Hair stylist',
       'Massage therapist/bartender', 'Model/make-up artist',
       'Consultant', 'Professional soccer player',
       'Model/executive assistant', 'Retail manager', 'Account manager',
       'Account manager/sales', 'Bank representative',
       'Fashion public relations manager', 'Singer', 'Teacher',
       'Publicist', 'Marketing manager', 'Realtor', 'Event planner',
       'Ultrasound technician', 'Socialite', 'Journalist',
       'Interior designer', 'Make-up artist', 'Policy advisor',
       'Broadcast marketer', 'Dolphin trainer', 'Assistant buyer',
       'Registered nurse', 'Physician', 'Dancer', 'Restaurateur',
       'Beer chemist', 'Hotel concierge', 'Social Worker', 'Assistant',
       'Graphic Designer', 'Project Manager', 'Medical student',
       'Boutique owner', 'Sales Manager', 'Organ donor coordinator',
       'Financial analyst', 'Sorority recruiter', 'Boutique manager',
       'Medical equipment sales rep', 'Radio sales', 'Waitress',
       'Former Miss Illinois', 'Executive coordinator',
       'Health care manager', 'Hedge fund analyst',
       'Real estate sales/development', 'Phoenix Suns\xa0Cheerleader',
       'Internet marketing executive', 'Acupuncturist',
       'Executive assistant', 'Boutique sales worker', 'Bar manager',
       'Esthetician', 'Publishing sales executive', 'News anchor',
       'Law student', 'Biology teacher', 'Graduate student',
       'Account representative', 'Emergency room nurse',
       'Project analyst', 'Pharmaceutical sales rep.',
       'Account Executive', 'Fashion designer', 'Advertising coordinator',
       'Singer-songwriter', 'Medical sales rep.',
       "Children's book author", 'Hot-dog vendor', 'Personal trainer',
       'Church marketing rep.', 'Administrative assistant',
       'Biology student', 'Attorney and former\xa0White House\xa0aide',
       'Makeup artist', 'Youth minister', 'Cocktail waitress',
       'Real estate marketing rep.', 'Sales Representative',
       'Department Store Buyer', 'Single Mother & Medical Marketing Rep.',
       'Single Mother and Lacrosse Coach', 'Dental Hygienist',
       'Administrative Assistant', 'Human Resources Recruiter',
       'Medical Student', 'Public Relations Associate',
       'Medical Sales Rep.', 'Casino Marketing Rep.',
       'Wedding Coordinator', 'Menswear Buyer', 'Jewelry Designer',
       'Single Mother & Charity Accountant',
       'Single Mother and Nurse Practitioner', 'Marketing Representative',
       'College Admissions', 'Swimsuit Model',
       'Advertising Account Manager', 'Wardrobe Consultant',
       'Account Manager', 'Cosmetic Sales Manager',
       'Corporate Flight Attendant', 'Hair Stylist', 'Homemaker',
       'Office Manager', 'Restaurant Manager', 'Model/Make-Up Artist',
       'Entrepreneur', 'Spokesmodel', 'Mortgage Loan Officer',
       'Captain, Air National Guard', 'Fitness Model', 'NBA Dancer',
       'Commercial Pilot', 'Dance Teacher', 'Medical Technician',
       "Children's Hospital Event Planner", 'Executive Assistant',
       'Dental Student', 'Funeral Director', 'Food writer', 'Artist',
       'Apparel merchant', 'Marketing Coordinator', 'Sports Publicist',
       'First grade teacher', 'Fashion Marketer', 'Bartender',
       'Real Estate Broker', 'Radio City Rockette', 'Manscaper',
       'Operations Manager', 'Sales director', 'Insurance agent',
       'High School Teacher', 'Sales Consultant',
       'Musical Theatre Performer', 'Business development manager',
       'Dental hygienist', 'PhD Student', 'Fashion sales representative',
       'Trading clerk', 'VIP cocktail waitress', 'Accountant',
       'Dental consultant', 'Advertising account manager',
       'Medical sales representative', 'Blogger', 'Financial advisor',
       'Labor and delivery nurse', 'Critical care nurse',
       'Nonprofit director', 'Pharmaceutical sales representative',
       'Internet entrepreneur', 'Substitute Teacher',
       'Personal Organizer', 'Bridal Stylist', 'Political Consultant',
       'Leasing Consultant', 'Commercial Casting Associate',
       'Real Estate Dealer', 'Oil Field Account Manager',
       'Cosmetics Consultant', 'Fit Model', 'Poker Dealer',
       'Health Club Manager', 'Community Organizer', 'Salon Owner',
       'Yoga Instructor', 'Fashion Model', 'Cruise Ship Entertainer',
       'Jumbotron Operator', 'Pediatric Nurse', 'Hairstylist',
       'Assistant District Attorney', 'Real Estate Agent',
       'Science Educator', 'Opera Singer',
       'Medical Sales Representative/NBA Dancer', 'Former NBA Dancer',
       'Psychiatric Nurse', 'Dog Lover', 'First Grade Teacher',
       'Music Composer', 'Marketing Manager', 'Free Spirit',
       'Local News Reporter', 'Legal Assistant',
       'Communications Director/NHL\xa0Ice Girl', 'Massage Therapist',
       'Grade School Teacher', 'Police Support Specialist',
       'Nursing Home Owner', 'Mineral Coordinator', 'Personal Banker',
       'Personal Trainer', 'Fertility Nurse', 'Chiropractic Assistant',
       'Dance Instructor', 'Cosmetics Developer', 'Cruise Ship Singer',
       'Make-Up Artist', 'Guidance Counselor',
       'Nanny/Freelance Journalist', 'Dental Assistant',
       'Fashion Designer', 'Former NFL Cheerleader', 'News Producer',
       'Fourth Grade Teacher', 'Special Education Teacher',
       'Sport Fishing Enthusiast', 'Ballet Teacher', 'Plus-Size Model',
       'WWE Diva-in-Training', 'High School Soccer Coach',
       'Wedding Cake Baker', 'Cadaver Tissue Saleswoman',
       'Real Estate Developer', 'Software Sales Representative',
       'Kindergarten Teacher', 'Former News Anchor',
       'Small Business Owner', 'War Veteran', 'Unemployed',
       'Mathematician', 'Dentist', 'Gerontologist', 'Fashion Buyer',
       'Nutritional Therapist', 'Math Teacher', 'Cowgirl',
       'Chicken Enthusiast', 'Aspiring Dolphin Trainer',
       'Plastic Surgery Office Manager', 'Surgical Unit Nurse',
       'Travel Nurse', 'Wedding Videographer', 'Business Owner',
       'Neonatal Nurse', 'Restaurant Server', 'Doula', 'Chef',
       'Pro Basketball Dancer', 'Digital Marketing Manager',
       'Law School Graduate', 'Food Truck Owner',
       'Apparel Sales Representative', 'Fashion Boutique Owner',
       'Mental Health Counselor', 'Pilates Instructor'], dtype=object)

In [ ]:
*** 
 possible occupational categories: student/graduate, teacher/nanny/intructor/conselor, manager/consultant/sales/representative, 
    nurse/doctor/physician/psychologist, dancer/model/singer/stylist/artist/designer, other
***

In [15]:
occNum = []
contest['occNum'] = occNum

for i in range(len(contest)):
    if (contest['Occupation'][i].index('student') >= 0 or contest['Occupation'][i].index('graduate') >= 0 )
    {
        contest['occNum'] = 4
    }

SyntaxError: invalid syntax (2659828907.py, line 5)

In [17]:
# Initialize an empty list to store occupation numbers
occNum = []

# Loop through each row in the DataFrame
for i in range(len(contest)):
    # Check if the occupation contains 'student' or 'graduate'
    if 'student' in contest['Occupation'][i] or 'graduate' in contest['Occupation'][i]:
        occNum.append(2)  # Append 2 if the occupation is student or graduate
    elif 'teacher'in contest['Occupation'][i] or 'nanny' in contest['Occupation'][i] in contest['Occupation'][i] 
    or 'intructor' in contest['Occupation'][i] or 'conselor' in contest['Occupation'][i]:
        occNum.append(3)
    elif 'manage'in contest['Occupation'][i] or 'consultant' in contest['Occupation'][i] 
    or 'sale' in contest['Occupation'][i] or 'representative' in contest['Occupation'][i]:
        occNum.append(1)
    elif 'nurse'in contest['Occupation'][i] or 'doctor' in contest['Occupation'][i] 
    or 'physician' in contest['Occupation'][i] or 'psychologist' in contest['Occupation'][i]:
        occNum.append(5)
    elif 'dancer'in contest['Occupation'][i] or 'model' in contest['Occupation'][i] 
    or 'singer' in contest['Occupation'][i] or 'stylist' in contest['Occupation'][i]
    or 'artist' in contest['Occupation'][i] or 'designer' in contest['Occupation'][i]:
        occNum.append(4)
    else:
        occNum.append(0)  # Append 0 for other occupations

# Assign the populated occNum list to the 'occNum' column in the DataFrame
contest['occNum'] = occNum

SyntaxError: invalid syntax (4176070362.py, line 9)

In [36]:
# Initialize an empty list to store occupation numbers
occNum = []

# Loop through each row in the DataFrame
for i in range(len(contest)):
    # Check if the occupation contains 'student' or 'graduate'
    if 'student' in contest['Occupation'][i] or 'graduate' in contest['Occupation'][i]:
        occNum.append(5)  # Append 2 if the occupation is student or graduate
    # Check if the occupation contains teacher-related roles
    elif 'teacher' in contest['Occupation'][i] or 'nanny' in contest['Occupation'][i] or 'instructor' in contest['Occupation'][i] or 'counselor' in contest['Occupation'][i]:
        occNum.append(2)
    # Check if the occupation contains management or sales-related roles
    elif 'manage' in contest['Occupation'][i] or 'consultant' in contest['Occupation'][i] or 'sales' in contest['Occupation'][i] or 'representative' in contest['Occupation'][i]:
        occNum.append(1)
    # Check if the occupation contains medical-related roles
    elif 'nurse' in contest['Occupation'][i] or 'doctor' in contest['Occupation'][i] or 'physician' in contest['Occupation'][i] or 'psychologist' in contest['Occupation'][i]:
        occNum.append(4)
    # Check if the occupation contains artistic or performance-related roles
    elif 'dancer' in contest['Occupation'][i] or 'model' in contest['Occupation'][i] or 'singer' in contest['Occupation'][i] or 'stylist' in contest['Occupation'][i] or 'artist' in contest['Occupation'][i] or 'designer' in contest['Occupation'][i]:
        occNum.append(3)
    else:
        occNum.append(0)  # Append 0 for other occupations

# Assign the populated occNum list to the 'occNum' column in the DataFrame
contest['occNum'] = occNum

In [37]:
contest.head()

,Name,Age,Occupation,Hometown,Height,ElimWeek,Season,occNum
0,Amanda Marsh,23.0,Event Planner,"Chanute, Kansas",NaN,NaN,1,0
1,Trista Rehn,29.0,Miami Heat Dancer,"Miami, Florida",NaN,6.0,1,0
2,Shannon Oliver,24.0,Financial Management Consultant,"Dallas, Texas",NaN,5.0,1,0
3,Kim,24.0,Nanny,"Tempe, Arizona",NaN,4.0,1,0
4,Cathy Grimes,22.0,Graduate Student,"Terra Haute, Indiana",NaN,3.0,1,0

In [38]:
contest['occNum'].corr(contest['ElimWeek'])

-0.0896867919408824

In [9]:
len(contest['Occupation'].unique())

306

In [8]:
contest['Hometown'].unique()

array(['Chanute, Kansas', 'Miami, Florida', 'Dallas, Texas',
       'Tempe, Arizona', 'Terra Haute, Indiana', 'Bonita, California',
       'Los Angeles, California', 'Woodward, Oklahoma',
       'Beverly Hills, California', 'New York, New York',
       'Avondale, Arizona', 'Burbank, California',
       'Malden, Massachusetts', 'Plano, Texas', 'Seattle, Washington',
       'Honolulu, Hawaii', 'Pittsburgh, Pennsylvania',
       'Chicago, Illinois', 'Swansea, Massachusetts',
       'Eastchester, New York', 'Gloucester, New Jersey',
       'Albertville, Alabama', 'Philadelphia, Pennsylvania',
       'Kansas City, Missouri', 'Lake Oswego, Oregon', 'Boise, Idaho',
       'Walnut Creek, California', 'Midvale, Utah',
       'Long Island, New York', 'Westchester, Pennsylvania',
       'Redondo Beach, California', 'San Francisco, California',
       'Chapel Hill, North Carolina', 'Granite City, Illinois',
       'Houston, Texas', 'Long Beach, California',
       'Coral Gables, Florida', 'Forked River, New Jersey',
       'Richmond, Virginia', 'Huntington Beach, California',
       'Shawnee, Oklahoma', 'Midland, Texas', 'Atlanta, Georgia',
       'Ann Arbor, Michigan', 'Pleasant Grove, Utah', 'Pearsall, Texas',
       'Sacramento, California', 'Carrboro, North Carolina',
       'Scottsdale, Arizona', 'Gibson, North Carolina',
       'Pinetops, North Carolina', 'Quebec City,\xa0Quebec',
       'Sunriver, Oregon', 'San Diego, California', 'Dearborn, Michigan',
       'Ithaca, New York', 'Canton, Michigan', 'Madison, New Jersey',
       'Phillipsburg, New Jersey', 'Cincinnati, Ohio', 'Tulsa, Oklahoma',
       'Buffalo, New York', 'Sausalito, California',
       'Pembroke Pines, Florida', 'Carlsbad, California',
       'Portland, Oregon', 'Venice, Italy', 'Bloomingdale, Illinois',
       'Salt Lake City, Utah', 'Galveston, Texas',
       'Nelson, British Columbia', 'Newport Beach, California',
       'New Haven, Connecticut', 'St. Augustine, Florida', 'Richmond, VA',
       'Baltimore, MD', 'Biloxi, MS', 'San Diego, CA', 'Charlotte, NC',
       'Aliquippa, PA', 'New York, NY', 'Italy', 'Boca Raton, FL',
       'Cattaraugus, NY', 'Columbus, OH', 'Cincinnati, OH', 'Chicago, IL',
       'Palo Alto, California', 'Bethel, Connecticut',
       'Sugar Land, Texas', 'Overland Park, Kansas',
       'Ravenel, South Carolina', 'Charleston, SC', 'Folly Beach, SC',
       'Dallas, TX', 'Logansport, LA', 'La Vergne, Tennessee',
       'Southlake, TX', 'The Woodlands, TX', 'Boston, MA',
       'Birmingham, AL', 'Hilton Head Island, SC', 'Lake Forest, IL',
       'Bronx, NY', 'Minneapolis, MN', 'Tampa, FL', 'Cuyahoga Falls, OH',
       'Lawrence, KS', 'St. Louis Park, MN', 'Newnan, Georgia',
       'Wichita, Kansas', 'Washington, D.C.', 'Gurnee, Illinois',
       'Nashville, Tennessee', 'Lemon Grove, California',
       'Livonia, Michigan', "O'Fallon, Illinois", 'Georgetown, Texas',
       'South Brunswick, New Jersey', 'Tampa, Florida',
       'Lady Lake, Florida', 'Woodbridge, Connecticut',
       'Annapolis, Maryland', 'Westchester, New York',
       'Duncanville, Texas', 'St. Louis Park, Minnesota',
       'St. Charles, Illinois', 'Malibu, California', 'Durango, Colorado',
       'Niceville, Florida', 'Loveland, Colorado', 'Brooklyn, New York',
       'Holland, Michigan', 'Jacksonville Beach, Florida',
       'Hollywood, California', 'Suffield, Ohio', 'Stockton, California',
       'Venice, California', 'Dillsburg, Pennsylvania',
       'Oklahoma City, Oklahoma', 'Syracuse, New York',
       'LaFollette, Tennessee', 'Washington, D.C', 'Austin, Texas',
       'Laguna Niguel, California', 'Alamo, California',
       'Brookfield, Wisconsin', 'Peace River,\xa0Alberta',
       'Carlsbad,\xa0California', 'Huntsville,\xa0Alabama',
       'Marlboro,\xa0New Jersey', 'Sewickley,\xa0Pennsylvania',
       'Marshall,\xa0Missouri', 'Blue Island,\xa0Illinois',
       'Monroe,\xa0Connecticut', "Lee's Summit,\xa0Missouri",
       'Morton,\xa0Illinois', 'Recife,\xa0Pernambuco,\xa0Brazil',
       'Batavia,\xa0New York', 'Boise,\xa0Idaho', 'Phoenix,\xa0Arizona',
       'Mt. Carmel,\xa0Pennsylvania', 'Seattle,\xa0Washington',
       'Springfield,\xa0Massachusetts', 'Columbus,\xa0Ohio',
       'Calgary,\xa0Alberta', 'Southfield,\xa0Michigan',
       'Stockton,\xa0California', 'Orem,\xa0Utah',
       'Salt Lake City,\xa0Utah', 'Geneva,\xa0Florida',
       'Newberg,\xa0Oregon', 'New York,\xa0New York',
       'Williamstown,\xa0Massachusetts', 'Kissimmee,\xa0Florida',
       'North Potomac,\xa0Maryland', 'Oakville,\xa0Ontario',
       'Lexington,\xa0Kentucky', 'La Follette,\xa0Tennessee',
       'Imperial,\xa0Nebraska', 'San Bernardino,\xa0California',
       'Anaheim,\xa0California', 'Pittsburgh,\xa0Pennsylvania',
       'San Diego,\xa0California', 'Richmond,\xa0Virginia',
       'Galloway,\xa0Ohio', 'Winfield,\xa0Illinois',
       'Santa Rosa,\xa0California', 'Union,\xa0Kentucky',
       'West Chester,\xa0Ohio', 'Norman,\xa0Oklahoma',
       'Aurora,\xa0Colorado', 'Scottsdale,\xa0Arizona',
       'Morris,\xa0Illinois', 'Morgantown, West Virginia',
       'Mercer Island, Washington', 'Madawaska, Maine',
       'Chico, California', 'Woodinville, Washington',
       'Newport, Rhode Island', 'Columbus, Ohio', 'Ottawa,\xa0Kansas',
       'Mesa,\xa0Arizona', 'Ellerbe,\xa0North Carolina',
       'Plano,\xa0Texas', 'Princeton,\xa0New Jersey',
       'Quincy,\xa0Massachusetts', 'Orlando,\xa0Florida',
       'Denver,\xa0Colorado', 'Vail,\xa0Colorado',
       'Sherwood Park,\xa0Alberta', 'Westport,\xa0Connecticut',
       'Fullerton,\xa0California', 'Holland,\xa0Pennsylvania',
       'Davie,\xa0Florida', 'Frisco,\xa0Texas', 'Tampa,\xa0Florida',
       'Culpeper,\xa0Virginia', 'Dix Hills,\xa0New York',
       'Mission Viejo,\xa0California', 'Palos Hills,\xa0Illinois',
       'Saginaw,\xa0Michigan', 'Newcastle, Washington', 'Hurst,\xa0Texas',
       'Clarksville,\xa0Tennessee', 'Chapel Hill,\xa0North Carolina',
       'Southampton,\xa0Massachusetts', 'Dryden,\xa0New York',
       'Leawood,\xa0Kansas', 'Rutherfordton,\xa0North Carolina',
       'Cache,\xa0Oklahoma', 'Chicago,\xa0Illinois',
       'Yuba,\xa0California', 'Charlottesville,\xa0Virginia',
       'Newton,\xa0Massachusetts', 'Colorado Springs,\xa0Colorado',
       'Loveland,\xa0Ohio', 'Cincinnati,\xa0Ohio',
       'Port Coquitlam,\xa0British Columbia', 'Waverly,\xa0Nebraska',
       'Detroit,\xa0Michigan', 'San Gabriel,\xa0California',
       'Salyersville,\xa0Kentucky', 'London,\xa0England',
       'Massapequa Park, New York', 'Fort Bragg, North Carolina',
       'Northglenn, Colorado', 'Fort Smith, Arkansas',
       'Las Vegas, Nevada', 'Belmont, California',
       'Borrego Springs, California', 'Evergreen, Colorado',
       'Topeka, Kansas', 'Ormond Beach, Florida',
       'Bakersfield, California', 'Ruskin, Florida', 'Darien, Wisconsin',
       'Troutdale, Oregon', 'Clarksville, Tennessee', 'Sandy, Utah',
       'Woodstock, Illinois', 'Garner, North Carolina',
       'Macomb, Michigan', 'Chattanooga, Tennessee',
       'Agoura Hills, California', 'Stevenson Ranch, California',
       'Cranston, Rhode Island', 'Minnetonka, Minnesota',
       'Kearney, Missouri', 'Buckhead, Georgia',
       "Martha's Vineyard, Massachusetts", 'Lexington, Ohio',
       'Ottawa,\xa0Ontario', 'Iowa City, Iowa',
       'Shelby Charter Township, Michigan', 'Orland Park, Illinois',
       'Litchfield, Illinois', 'Conyers, Georgia',
       'Forty Fort, Pennsylvania', 'Aurora, Illinois',
       'Santa Barbara, California', 'Clermont, Florida',
       'Porto Alegre,\xa0Brazil', 'Apopka, Florida', 'Roanoke, Texas',
       'Rockford, Illinois', 'Antelope Acres, California',
       'Edmond, Oklahoma', 'Wagener, South Carolina',
       'Sutter, California', 'Louisville, Kentucky',
       'Shreveport, Louisiana', 'Leduc, Alberta', 'Gering, Nebraska',
       'Arlington, Texas', 'Wolcott Mills, Michigan',
       'Hudsonville, Michigan', 'Great Falls, Virginia',
       'Maple Valley, Washington', 'Indianapolis, Indiana',
       'Vinings, Georgia', 'Beaverton, Oregon',
       'Hasbrouck Heights, New Jersey', 'Howland, Ohio',
       'Kankakee, Illinois', 'Wellington, Florida', 'Algonquin, Illinois',
       'Hamilton, New Jersey', 'Windsor, Colorado', 'Wantagh, New York',
       'Fort Lauderdale, Florida', 'Lake in the Hills, Illinois',
       'Carpinteria, California', 'Temecula, California',
       'Brownsville, Kentucky', 'Provo, Utah',
       'Manhattan Beach, California', 'West Linn, Oregon', 'Hudson, Ohio',
       'Rancho Santa Margarita, California', 'Dexter, Michigan',
       'Bristol, Virginia', 'Greenwood Village, Colorado',
       'Lauderdale Lakes, Florida', 'Little Rock, Arkansas',
       'St. Albert, Alberta', 'Denver, Colorado',
       'New Smyrna Beach, Florida', 'Stillwater, Oklahoma',
       'Branford, Connecticut', 'Boca Raton, Florida',
       'Visalia, California', 'Redmond, Washington', 'Secaucus, NJ',
       'Greenville, SC', 'Salt Lake City, UT', 'Santa Monica, CA',
       'Tulsa, OK', 'Miami, FL', 'Los Angeles, CA', 'Nashville, TN',
       'Las Vegas, NV', 'Vancouver, British Columbia, Canada',
       'Harlingen, TX', 'New Orleans, LA', 'Tacoma, WA',
       'San Francisco, CA', 'Santa Cruz, CA', 'Lexington, KY',
       'Manhattan, NY', 'Naples, FL', 'Anchorage, AK', 'Hoxie, AR',
       'Newport Beach, CA', 'Seattle, WA', 'Montreal, Quebec, Canada',
       'Chanhassen, MN'], dtype=object)

In [10]:
len(contest['Hometown'].unique())

357

In [11]:
print(contest)

               Name   Age                       Occupation  \
0      Amanda Marsh  23.0                    Event Planner
1       Trista Rehn  29.0                Miami Heat Dancer
2    Shannon Oliver  24.0  Financial Management Consultant
3               Kim  24.0                            Nanny
4      Cathy Grimes  22.0                 Graduate Student
..              ...   ...                              ...
418           Sarah  26.0             Grade School Teacher
419        Susannah  26.0                  Account Manager
420          Taylor  23.0          Mental Health Counselor
421         Vanessa  29.0        Special Education Teacher
422         Whitney  25.0               Pilates Instructor

                     Hometown  Height  ElimWeek  Season
0             Chanute, Kansas     NaN       NaN       1
1              Miami, Florida     NaN       6.0       1
2               Dallas, Texas     NaN       5.0       1
3              Tempe, Arizona     NaN       4.0       1
4        Terra Haute, Indiana     NaN       3.0       1
..                        ...     ...       ...     ...
418         Newport Beach, CA    65.0       4.0      21
419             San Diego, CA    66.0       1.0      21
420               Seattle, WA    64.0       5.0      21
421  Montreal, Quebec, Canada    63.5       NaN      21
422            Chanhassen, MN    68.0       6.0      21

[423 rows x 7 columns]

In [14]:
contest['ElimWeek'] = pd.to_numeric(contest['ElimWeek'], errors='coerce')

In [15]:
contest['Age'].corr(contest['ElimWeek'])

-0.09070229193040054

In [ ]:
import requests
from bs4 import BeautifulSoup

# Step 1: Send a request to the website and get the HTML content
url = 'https://www.scrapethissite.com/pages/simple/'  # Replace with the URL of the website you're scraping
response = requests.get(url)

# Step 2: Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(response.text, 'html.parser')

# Step 3: Find all <h3> tags
h3_tags = soup.find_all('h3')

# Step 4: Print the content of each <h3> tag
for h3 in h3_tags:
    print(h3.text)

In [ ]:
import requests
from bs4 import BeautifulSoup

df = pd.DataFrame(columns=['Editions'])
season = 22
while page <= 29:
    url = 'https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_'+ str(season)
    
    # Make a request to the website and check the status code
    response = requests.get(url)
    if response.status_code == 200:
        # Step 2: Parse the HTML content with BeautifulSoup
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Find all the h2 elements with the specific class
        mydivs = soup.find_all("span", class_="resultDetails")
        
        # Loop through each element and print the text
        for blueText in mydivs:
            step1 = blueText.get_text(strip=True).replace('First published in ', '', 1)
            year = step1[0:4]
            print(year)
            editions = step1[5: 7]
            print(editions)

            print(blueText.get_text(strip=True).replace('First published in ', '', 1)) # get_text() extracts the inner text, and strip() removes any extra whitespace

            new_row = {'Editions': editions}
            '''df = df._append(new_row, ignore_index=True)'''
            df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
        else:
            print(f"Error: Unable to retrieve the page, status code {response.status_code}")
    
    season += 1

In [4]:
import requests
from bs4 import BeautifulSoup

season = 22
while season <= 29:
    url = 'https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_'+ str(season)
    
    # Make a request to the website and check the status code
    response = requests.get(url)
    if response.status_code == 200:
        # Step 2: Parse the HTML content with BeautifulSoup
        soup = BeautifulSoup(response.text, 'html.parser')
        

        # Find the table containing the list of contestants

        table = soup.find('table', {'class': 'wikitable'})


        # Loop through each row of the table (skipping the header)

        for row in table.find_all('tr')[1:]:
            columns = row.find_all('td')
            # Assuming that the first column contains contestant names, you can extract the text
            if columns:
                contestant_name = columns[0].get_text(strip=True)
            print(contestant_name)
   
    season += 1

Becca Kufrin[9]
Lauren Burnham[11]
Kendall Long[12]
Tia Booth[14]
Bekah Martinez[12][16]
Seinne Fleming[12][18]
Jacqueline Trumbull[19]
Chelsea Roy[12][20][21]
Jenna Cooper[23][24]
Krystal Nielson[25]
Ashley Luebke[6]
Maquel Cooper[27]
Marikh Mathias[28]
Brittany Taylor[29]
Caroline Lunny[6][31]
Maquel Cooper
Bibiana Julian[12][6]
Annaliese Puccini[33]
Lauren Schleyer[11]
Jennifer "Jenny" Delaney[34]
Lauren Griffin[23]
Valerie Biles
Alison "Ali" Harrington[11]
Amber Wilkerson
Brianna "Bri" Amaranthus[37]
Brittane Johnson
Jessica Carroll[38]
Lauren Jarreau[39][40]
D'Nysha "Nysha" Norris[29]
Olivia Goethals[34]
Cassie Randolph[14]
Hannah Godwin[16]
Tayshia Adams[18]
Cassie Randolph
Caelynn Miller-Keyes[20]
Kirpa Sudick[22]
Heather Martin[24]
Hannah Brown[16]
Katie Morton[25]
Demi Burnett[27]
Sydney Lotuaco[22]
Nicole Lopez-Alvar[28]
Onyeka Ehie[27]
Elyse Dehlbom[29]
Courtney Curtis[22]
Tracy Shapoff[32]
Brianna "Bri" Barnes[33]
Catherine Agro[28]
Nina Bartula[20]
Caitlin Clemmens[35]
Alex Blumberg[22]
Angelique Sherman[37]
Annie Reardon[7][16]
Erika McNutt[22]
Alex Dillon[38]
Devin Gooden[40]
Erin Landry[27]
Adrianne "Jane" Averbukh[41]
Laura Pellerito[27]
Revian Chang[22]
Tahzjuan Hawkins[22]
Hannah Ann Sluss[22]
Madison Prewett[14][23]
Victoria Fuller[25]
Kelsey Weier[12]
Kelley Flanagan[27]
Natasha Parker[29]
Mykenna Dorn[30]
Sydney Hightower[32]
Tammy Ly[33]
Victoria Paul[11][34]
Lexi Buchanan[35]
Shiann Lewis[35]
Deandra Kanu[37]
Kiarra Norman[38]
Savannah Mullins[10]
Alayah Benavidez[10]
Alayah Benavidez
Alexa Caves[27]
Jasmine Nguyen[10]
Sarah Coffin[22]
Courtney Perry[39]
Lauren Jones[41]
Payton Moran[42]
Avonlea Elkins[10]
Eunice Cho[27]
Jade Gilliland[43]
Jenna Serrano[27]
Katrina Badowski[27]
Kylie Ramos[41]
Maurissa Gunn[13][38]
Megan Hops[44]
Rachael Kirkconnell[17]
Michelle Young[19][20]
Brianna "Bri" Springs[21][22]
Serena Pitt[24][25]
Pieper James[27]
Jessenia Cruz[22]
Kit Keenan[6]
Abigail Heringer[8][27]
Chelsea Vaughn[28]
Serena Chew[29]
Katie Thurston[24][30]
Brittany Galvin[20][31]
Mearg "Magi" Tareke[32]
Ryan Claytor[20]
Meredith "MJ" Snyder[33]
Catalina Morales[34]
Lauren Maddox[36]
Mariela "Mari" Pepin[5][37]
Victoria Larson[38]
Anna Redman[39][40]
Kaili Anderson[40]
Khaylah Epps[41]
Kimberly "Kim" Li[20]
Sarah Trott[42]
Alana Milne[22]
Illeana Pennetto[43]
Kristin Hopkins[44]
Marylynn Sienna[45]
Sydney Johnson[7]
Alicia Holloway[46]
Amber Andrews[45]
Carolyn Vallejo[45]
Casandra Suarez[45]
Corrinne Jones[48]
Emani Curl[49]
Kimberly Courneya[30]
Saneh Ste. Claire[50]
Susie Evans[27][28]
Gabriela "Gabby" Windey[16][30]
Rachel Recchia[31]
Susie Evans
Serene Russell[33]
Teddi Wright[31][35]
Sarah Hamrick[14][36]
Genevieve Parisi[37][38]
Eliza Isichei[39]
Mara Agrait[40][41]
Hunter Haag[42]
Marlena Wesh[27][39]
Shanae Ankney[44]
Jillian "Jill" Chin[37]
Lyndsey Windham[45]
Sierra Jackson[46]
Elizabeth Corrigan[47]
Kira Mengistu[40]
Melina Nasab[46]
Ency Abedin[48]
Kate Gallivan[17]
Tessa Tookes[46]
Cassidy Timbrooks[49]
Daria Rose[50][51]
Hailey Malles[51]
Ivana Noble[51]
Jane Paik[51]
Lindsay Dobbs[51]
Rianna Hockaday[45][51]
Samantha Jeffries[51]
Claire Heilig[27][51]
Kaitlyn "Kaity" Biggar[21]
Gabriella "Gabi" Elnicki[23]
Ariel Frenkel[10][24]
Charity Lawson[26]
Katherine Izzo[28]
Brooklyn Willie[6][30]
Greer Blitzer[31]
Alyssa "Aly" Jacobs[32][33]
Jessica "Jess" Girod[33]
Kylee Russell[35][36]
Mercedes Northup[37]
Davia Bunch[8]
Genevie Mayo[39][40]
Anastasia Keramidas[39]
Christina Mandrell[6][7]
Brianna Thorbourne[6][41]
Bailey Brown[6][42]
Catherine "Cat" Wong[6][8]
Kimberly Gutierrez[43]
Victoria Jameson[31][44]
Becca Serrano[43]
Cara Ammon[46]
Holland Parsons[43]
Lekha Ravi[9][47]
Olivia Lewis[48]
Olivia Miller[49]
Sonia Sharma[50]
Vanessa Dinh[51]
Viktoria Eichner[43]
Madison Johnson[52]
Kelsey Anderson[18]
Daisy Kent[20][21]
Rachel Nance[22]
Maria Georgas[8][24]
Jennifer "Jenn" Tran[26][27]
Kelsey Toussant[29]
Katelyn DeBacker[30]
Lea Cayanan[5][22]
Lexi Young[31]
Jessica "Jess" Edwards[32]
Autumn Waggoner[33]
Madina Alam[35]
Allison Hollinger[a][36]
Edwina Dorbor[37]
Sydney Gordon[38]
Chrissa Perez[24][40]
Evalin Clark[41]
Starr Skyler[27]
Erika Cardenas[42]
Marlena Haddad[7][27]
Taylor Wiens[43]
Lauren Hollinger[a][36]
Chandler Dewgard[44]
Kayla Rodgers[46]
Kyra Brusch[27]
Lanie Latsios[36]
Natalie "Nat" Crepeau[24][47]
Samantha "Sam" Hale[48]
Samantha Washington[6][27]
Sandra Rabadi[48]
Talyah Jackson[49]
Zoe Antona[50]
Alexe Godin[9]
Alli Jo Hinkes[4][10]
Allyshia Gupta[4]
Bailey Brown[11][12]
Beverly Ortega[13]
Carolina Quixano[14]
Chloie Costello[14]
Christina Smith[15]
Dina Lupancu[14]
Ella Del Rosario[14]
J’Nae Squires-Horton[14]
Juliana Pasquarosa[16][17]
Kelsey Curtis[18]
Kyleigh Henrich[19]
Litia Garr[14]
Natalie Phillips[20]
Neicey Baxter[21][22]
Parisa Shifteh[14]
Radhika Gupta[23]
Rebekah Garrett[14]
Rose Sombke[14]
Sarafiena Watkins[13]
Savannah Quinn[24]
Vicky Nyamuswa[14]
Zoe McGrady[19]

In [5]:
import requests
from bs4 import BeautifulSoup

season = 22
while season <= 29:
    url = 'https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_' + str(season)
    
    # Make a request to the website and check the status code
    response = requests.get(url)
    if response.status_code == 200:
        # Step 2: Parse the HTML content with BeautifulSoup
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the table containing the list of contestants
        table = soup.find('table', {'class': 'wikitable'})

        # Loop through each row of the table (skipping the header)
        for row in table.find_all('tr')[1:]:
            columns = row.find_all('td')
            
            # Ensure the row has enough columns (at least two: name and age)
            if len(columns) >= 2:
                # Get contestant name (usually in the first column)
                contestant_name = columns[0].get_text(strip=True)

                # Try to extract age (usually in the second column)
                age = columns[1].get_text(strip=True)

                # Print contestant name and age
                print(f"Name: {contestant_name}, Age: {age}")
   
    season += 1

Name: Becca Kufrin[9], Age: 27
Name: Lauren Burnham[11], Age: 25
Name: Kendall Long[12], Age: 26
Name: Tia Booth[14], Age: 26
Name: Bekah Martinez[12][16], Age: 22
Name: Seinne Fleming[12][18], Age: 27
Name: Jacqueline Trumbull[19], Age: 26
Name: Chelsea Roy[12][20][21], Age: 29
Name: Jenna Cooper[23][24], Age: 28
Name: Krystal Nielson[25], Age: 29
Name: Ashley Luebke[6], Age: 25
Name: Maquel Cooper[27], Age: 23
Name: Marikh Mathias[28], Age: 27
Name: Brittany Taylor[29], Age: 30
Name: Caroline Lunny[6][31], Age: 26
Name: Maquel Cooper, Age: (Returned to competition)
Name: Bibiana Julian[12][6], Age: 30
Name: Annaliese Puccini[33], Age: 32
Name: Lauren Schleyer[11], Age: 31
Name: Jennifer "Jenny" Delaney[34], Age: 25
Name: Lauren Griffin[23], Age: 26
Name: Valerie Biles, Age: 26
Name: Alison "Ali" Harrington[11], Age: 27
Name: Amber Wilkerson, Age: 29
Name: Brianna "Bri" Amaranthus[37], Age: 25
Name: Brittane Johnson, Age: 27
Name: Jessica Carroll[38], Age: 26
Name: Lauren Jarreau[39][40], Age: 33
Name: D'Nysha "Nysha" Norris[29], Age: 30
Name: Olivia Goethals[34], Age: 23
Name: Cassie Randolph[14], Age: 23
Name: Hannah Godwin[16], Age: 23
Name: Tayshia Adams[18], Age: 28
Name: Cassie Randolph, Age: (Returned to competition)
Name: Caelynn Miller-Keyes[20], Age: 23
Name: Kirpa Sudick[22], Age: 26
Name: Heather Martin[24], Age: 23
Name: Hannah Brown[16], Age: 24
Name: Katie Morton[25], Age: 26
Name: Demi Burnett[27], Age: 23
Name: Sydney Lotuaco[22], Age: 27
Name: Nicole Lopez-Alvar[28], Age: 25
Name: Onyeka Ehie[27], Age: 24
Name: Elyse Dehlbom[29], Age: 31
Name: Courtney Curtis[22], Age: 23
Name: Tracy Shapoff[32], Age: 31
Name: Brianna "Bri" Barnes[33], Age: 24
Name: Catherine Agro[28], Age: 26
Name: Nina Bartula[20], Age: 30
Name: Caitlin Clemmens[35], Age: 25
Name: Alex Blumberg[22], Age: 29
Name: Angelique Sherman[37], Age: 28
Name: Annie Reardon[7][16], Age: 23
Name: Erika McNutt[22], Age: 25
Name: Alex Dillon[38], Age: 23
Name: Devin Gooden[40], Age: 23
Name: Erin Landry[27], Age: 28
Name: Adrianne "Jane" Averbukh[41], Age: 26
Name: Laura Pellerito[27], Age: 26
Name: Revian Chang[22], Age: 24
Name: Tahzjuan Hawkins[22], Age: 25
Name: Hannah Ann Sluss[22], Age: 23
Name: Madison Prewett[14][23], Age: 23
Name: Victoria Fuller[25], Age: 26
Name: Kelsey Weier[12], Age: 28
Name: Kelley Flanagan[27], Age: 27
Name: Natasha Parker[29], Age: 31
Name: Mykenna Dorn[30], Age: 22
Name: Sydney Hightower[32], Age: 24
Name: Tammy Ly[33], Age: 24
Name: Victoria Paul[11][34], Age: 27
Name: Lexi Buchanan[35], Age: 26
Name: Shiann Lewis[35], Age: 27
Name: Deandra Kanu[37], Age: 23
Name: Kiarra Norman[38], Age: 23
Name: Savannah Mullins[10], Age: 27
Name: Alayah Benavidez[10], Age: 24
Name: Alayah Benavidez, Age: (Returned to competition)
Name: Alexa Caves[27], Age: 27
Name: Jasmine Nguyen[10], Age: 25
Name: Sarah Coffin[22], Age: 24
Name: Courtney Perry[39], Age: 26
Name: Lauren Jones[41], Age: 26
Name: Payton Moran[42], Age: 24
Name: Avonlea Elkins[10], Age: 27
Name: Eunice Cho[27], Age: 23
Name: Jade Gilliland[43], Age: 26
Name: Jenna Serrano[27], Age: 22
Name: Katrina Badowski[27], Age: 28
Name: Kylie Ramos[41], Age: 26
Name: Maurissa Gunn[13][38], Age: 23
Name: Megan Hops[44], Age: 26
Name: Rachael Kirkconnell[17], Age: 24
Name: Michelle Young[19][20], Age: 27
Name: Brianna "Bri" Springs[21][22], Age: 24
Name: Serena Pitt[24][25], Age: 23
Name: Pieper James[27], Age: 23
Name: Jessenia Cruz[22], Age: 27
Name: Kit Keenan[6], Age: 21
Name: Abigail Heringer[8][27], Age: 25
Name: Chelsea Vaughn[28], Age: 28
Name: Serena Chew[29], Age: 24
Name: Katie Thurston[24][30], Age: 29
Name: Brittany Galvin[20][31], Age: 23
Name: Mearg "Magi" Tareke[32], Age: 32
Name: Ryan Claytor[20], Age: 26
Name: Meredith "MJ" Snyder[33], Age: 23
Name: Catalina Morales[34], Age: 29
Name: Lauren Maddox[36], Age: 29
Name: Mariela "Mari" Pepin[5][37], Age: 24
Name: Victoria Larson[38], Age: 27
Name: Anna Redman[39][40], Age: 24
Name: Kaili Anderson[40], Age: 26
Name: Khaylah Epps[41], Age: 28
Name: Kimberly "Kim" Li[20], Age: 28
Name: Sarah Trott[42], Age: 24
Name: Alana Milne[22], Age: 26
Name: Illeana Pennetto[43], Age: 25
Name: Kristin Hopkins[44], Age: 27
Name: Marylynn Sienna[45], Age: 28
Name: Sydney Johnson[7], Age: 28
Name: Alicia Holloway[46], Age: 24
Name: Amber Andrews[45], Age: 30
Name: Carolyn Vallejo[45], Age: 30
Name: Casandra Suarez[45], Age: 25
Name: Corrinne Jones[48], Age: 22
Name: Emani Curl[49], Age: 25
Name: Kimberly Courneya[30], Age: 28
Name: Saneh Ste. Claire[50], Age: 25
Name: Susie Evans[27][28], Age: 28
Name: Gabriela "Gabby" Windey[16][30], Age: 30
Name: Rachel Recchia[31], Age: 25
Name: Susie Evans, Age: (Returned to competition)
Name: Serene Russell[33], Age: 26
Name: Teddi Wright[31][35], Age: 24
Name: Sarah Hamrick[14][36], Age: 23
Name: Genevieve Parisi[37][38], Age: 26
Name: Eliza Isichei[39], Age: 25
Name: Mara Agrait[40][41], Age: 32
Name: Hunter Haag[42], Age: 28
Name: Marlena Wesh[27][39], Age: 30
Name: Shanae Ankney[44], Age: 29
Name: Jillian "Jill" Chin[37], Age: 26
Name: Lyndsey Windham[45], Age: 28
Name: Sierra Jackson[46], Age: 26
Name: Elizabeth Corrigan[47], Age: 32
Name: Kira Mengistu[40], Age: 32
Name: Melina Nasab[46], Age: 27
Name: Ency Abedin[48], Age: 28
Name: Kate Gallivan[17], Age: 32
Name: Tessa Tookes[46], Age: 26
Name: Cassidy Timbrooks[49], Age: 26
Name: Daria Rose[50][51], Age: 24
Name: Hailey Malles[51], Age: 26
Name: Ivana Noble[51], Age: 31
Name: Jane Paik[51], Age: 33
Name: Lindsay Dobbs[51], Age: 27
Name: Rianna Hockaday[45][51], Age: 26
Name: Samantha Jeffries[51], Age: 26
Name: Claire Heilig[27][51], Age: 28
Name: Kaitlyn "Kaity" Biggar[21], Age: 27
Name: Gabriella "Gabi" Elnicki[23], Age: 25
Name: Ariel Frenkel[10][24], Age: 28
Name: Charity Lawson[26], Age: 26
Name: Katherine Izzo[28], Age: 26
Name: Brooklyn Willie[6][30], Age: 25
Name: Greer Blitzer[31], Age: 24
Name: Alyssa "Aly" Jacobs[32][33], Age: 26
Name: Jessica "Jess" Girod[33], Age: 23
Name: Kylee Russell[35][36], Age: 25
Name: Mercedes Northup[37], Age: 24
Name: Davia Bunch[8], Age: 25
Name: Genevie Mayo[39][40], Age: 26
Name: Anastasia Keramidas[39], Age: 30
Name: Christina Mandrell[6][7], Age: 26
Name: Brianna Thorbourne[6][41], Age: 24
Name: Bailey Brown[6][42], Age: 27
Name: Catherine "Cat" Wong[6][8], Age: 26
Name: Kimberly Gutierrez[43], Age: 30
Name: Victoria Jameson[31][44], Age: 30
Name: Becca Serrano[43], Age: 25
Name: Cara Ammon[46], Age: 27
Name: Holland Parsons[43], Age: 24
Name: Lekha Ravi[9][47], Age: 29
Name: Olivia Lewis[48], Age: 24
Name: Olivia Miller[49], Age: 25
Name: Sonia Sharma[50], Age: 29
Name: Vanessa Dinh[51], Age: 23
Name: Viktoria Eichner[43], Age: 29
Name: Madison Johnson[52], Age: 26
Name: Kelsey Anderson[18], Age: 25
Name: Daisy Kent[20][21], Age: 25
Name: Rachel Nance[22], Age: 26
Name: Maria Georgas[8][24], Age: 29
Name: Jennifer "Jenn" Tran[26][27], Age: 25
Name: Kelsey Toussant[29], Age: 31
Name: Katelyn DeBacker[30], Age: 26
Name: Lea Cayanan[5][22], Age: 23
Name: Lexi Young[31], Age: 30
Name: Jessica "Jess" Edwards[32], Age: 24
Name: Autumn Waggoner[33], Age: 26
Name: Madina Alam[35], Age: 31
Name: Allison Hollinger[a][36], Age: 26
Name: Edwina Dorbor[37], Age: 25
Name: Sydney Gordon[38], Age: 28
Name: Chrissa Perez[24][40], Age: 26
Name: Evalin Clark[41], Age: 29
Name: Starr Skyler[27], Age: 25
Name: Erika Cardenas[42], Age: 25
Name: Marlena Haddad[7][27], Age: 26
Name: Taylor Wiens[43], Age: 23
Name: Lauren Hollinger[a][36], Age: 28
Name: Chandler Dewgard[44], Age: 24
Name: Kayla Rodgers[46], Age: 27
Name: Kyra Brusch[27], Age: 26
Name: Lanie Latsios[36], Age: 27
Name: Natalie "Nat" Crepeau[24][47], Age: 26
Name: Samantha "Sam" Hale[48], Age: 31
Name: Samantha Washington[6][27], Age: 25
Name: Sandra Rabadi[48], Age: 26
Name: Talyah Jackson[49], Age: 23
Name: Zoe Antona[50], Age: 24
Name: Alexe Godin[9], Age: 27
Name: Alli Jo Hinkes[4][10], Age: 30
Name: Allyshia Gupta[4], Age: 29
Name: Bailey Brown[11][12], Age: 27
Name: Beverly Ortega[13], Age: 30
Name: Carolina Quixano[14], Age: 28
Name: Chloie Costello[14], Age: 27
Name: Christina Smith[15], Age: 26
Name: Dina Lupancu[14], Age: 31
Name: Ella Del Rosario[14], Age: 25
Name: J’Nae Squires-Horton[14], Age: 28
Name: Juliana Pasquarosa[16][17], Age: 28
Name: Kelsey Curtis[18], Age: 26
Name: Kyleigh Henrich[19], Age: 26
Name: Litia Garr[14], Age: 31
Name: Natalie Phillips[20], Age: 25
Name: Neicey Baxter[21][22], Age: 32
Name: Parisa Shifteh[14], Age: 29
Name: Radhika Gupta[23], Age: 28
Name: Rebekah Garrett[14], Age: 31
Name: Rose Sombke[14], Age: 27
Name: Sarafiena Watkins[13], Age: 29
Name: Savannah Quinn[24], Age: 27
Name: Vicky Nyamuswa[14], Age: 28
Name: Zoe McGrady[19], Age: 27

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [4]:
# Train model here.
# Don't forget to display the equation of the plane that best fits your data!

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [2]:
# Test model here.

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.