In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv("penguins.csv")
df.head()

   culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g     sex
0              39.1             18.7              181.0       3750.0    MALE
1              39.5             17.4              186.0       3800.0  FEMALE
2              40.3             18.0              195.0       3250.0  FEMALE
3               NaN              NaN                NaN          NaN     NaN
4              36.7             19.3              193.0       3450.0  FEMALE

In [3]:
df = df.dropna()
train_df, _ = train_test_split(df, test_size=0.3, random_state=42)
train_df = train_df[["culmen_length_mm", "culmen_depth_mm", "flipper_length_mm", "body_mass_g"]]
train_df.head()

     culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
34               36.4             17.0              195.0       3325.0
26               40.6             18.6              183.0       3550.0
292              48.2             15.6              221.0       5100.0
302              47.4             14.6              212.0       4725.0
61               41.3             21.1              195.0       4400.0

In [4]:
model = KMeans(n_clusters=4)
model.fit(train_df)

KMeans(n_clusters=4)

In [5]:
model.cluster_centers_

array([[  49.00731707,   15.59756098,  220.19512195, 5480.48780488],
       [  43.5921875 ,   18.5265625 ,  193.125     , 3833.59375   ],
       [  40.17931034,   17.75344828,  189.06896552, 3312.06896552],
       [  45.2028169 ,   16.2028169 ,  202.67605634, 4608.45070423]])